# Run .test/ scripts and check output against commit
name: R2020b
on: # setup triggers
  push:
    paths: 
      - '**.m'    # diff in mfiles
  workflow_dispatch:  # manual-run
jobs:
  R2020b:
    uses: bellomia/colorlab/.github/workflows/CI.yml@master
    with:
      release: R2020b