# Run .test/ scripts and check output against commit
name: R2022a
on: # setup triggers
  push:
    paths: 
      - '**.m'    # diff in mfiles
  workflow_dispatch:  # manual-run
jobs:
  R2022a:
    uses: beddalumia/colorlab/.github/workflows/CI.yaml@master
    with:
      release: R2022a
